/* Initails */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font-family: Garamond;
}

body{
    background: linear-gradient(135deg, #1f1c2c, #0f0f10);
    padding: 20px;
    color: #ffffff;
    min-height: 100vh;
}

/* Grid */
.container{
    max-width: 1000px;
    margin: 0 auto; /* center */
}

.title{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
    color: #ffffff;
    font-weight: 400;
}

.main-row{
    display: flex; /* next to each other */
    gap: 50px;
}

.form-section{
    flex: 1;
}

.list-section{
    flex: 2;
}

@media (max-width: 768px) {
    .main-row {
        flex-direction: column;
    }
}

/* Boxes */
.card{
    background-color: #1e1e1e;
    padding: 25px;
    border-radius: 12px; /* rounded corner */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    border: 1px solid #332a3d;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

/* Input */
input, select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #2d2d2d;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

label{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    color: #bbbbbb;
}

button{
    width: 100%;
    padding: 12px;
    background-color: #8e44ad;
    border: 1px solid #444;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 1px 1px rgba(142, 68, 173, 0.3);
}

button:hover {
    background-color: #9b59b6; /* darker purple */
    transform: translateY(-2px); /* rising */
}

button:active {
    transform: scale(0.99);
}

/* Header and table */
.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #444;
    color: #bbbbbb;
}

td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #333;
    color: #ffffff;
}





